<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>ログイン</h1>
    <% if session[:login_id] %>
      <p>ログアウトしてください。</p>
      <p><%= link_to "ログアウト", logout_path, method: :delete %></p>
    <% else %>
      <%= form_for :session, url: login_path do |f| %>
        <p>メールアドレス：<%= f.text_field :email %></p>
        <p>パスワード：<%= f.text_field :password %></p>
        <p> <%= submit_tag "ログイン" %></p>
        <p><%= link_to "新規アカウント作成", new_user_path %></p>
      <% end %>
    <% end %>
  </body>
</html>
