<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <% if !session[:login_id] %>
      <p>ログインしてください。</p>
      <p><%= link_to "ログイン", login_path %></p>
    <% elsif session[:login_id] && session[:login_id].to_s != params[:id] %>
      <p>アカウントを切り替えてください。</p>
      <p><%= link_to "ログアウト", logout_path, method: :delete %></p>
    <% else %>
      <h1>ユーザー情情</h1>
      <%= form_for @user do |f| %>
        <p>ユーザーID：<%= @user.id %></p>
        <p>アカウントID：<%= @user.account_id %></p>
        <p>メールアドレス：<%= @user.email %></p>
        <!-- TODO: 初期値が入力された状態で表示したい -->
        <p>アカウント名：<%= f.text_field :name %></p> 
        <%= submit_tag "編集" %>
      <% end %>
    <% end %>
  </body>
</html>
