<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>ユーザー登録</h1>
    <%= form_for @user do |f| %>
      <p>アカウントID：<%= f.text_field :account_id %></p>
      <p>メールアドレス：<%= f.text_field :email %></p>
      <p>パスワード：<%= f.text_field :password %></p>
      <p>パスワード（確認用）：<%= f.text_field :password_confirmation %></p>
      <p> <%= submit_tag "登録" %>
    <% end %>
  </body>
</html>
