<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>ユーザー登録</h1>
    <%= form_for @user do |f| %>
      <p>アカウントID：<%= text_field f, :account_id %></p>
      <p>メールアドレス：<%= text_field f, :email %></p>
      <p>パスワード：<%= text_field f, :password %></p>
      <p> <%= submit_tag "登録" %>
    <% end %>
  </body>
</html>
