<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <% if !session[:login_id] %>
      <p>ログインしてください。</p>
      <p><%= link_to "ログイン", login_path %></p>
    <% else %>
      <h1>ユーザー情情</h1>
      <p>ユーザーID：<%= @user.id %></p>
      <p>アカウントID：<%= @user.account_id %></p>
      <p>メールアドレス：<%= @user.email %></p>
      <p>アカウント名：<%= @user.name.blank? ? "未設定" : @user.name %></p>
      <% if session[:login_id].to_s == params[:id] %>
        <p><%= link_to "ユーザー情報を編集", edit_user_path %></p>
      <% else %>
        <p>フォローする</p>
      <% end %>
      <ul>
        <li>フォロー</li>
        <li>フォロワー</li>
      </ul>
    <% end %>
  </body>
</html>
