<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <% if !session[:login_id] %>
      <p>ログインしてください。</p>
      <p><%= link_to "ログイン", login_path %></p>
    <% else %>
      <h1>TimeLine</h1>
      <p><%= link_to "投稿する", new_post_path %></p>
      <% @posts.each do |post| %>
        <ul>
          <li>
            <%= link_to User.find(post.user_id).account_id, user_path(id: post.user_id) %>
            <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </li>
          <li><%= post.content %></li>
          <li><%= link_to "返信する", new_post_path(reply: {replying_id: session[:login_id], replied_id: post.user_id})%></li>
        </ul>
      <% end %>
    <% end %>
  </body>
</html>
