<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <% if !session[:login_id] %>
      <p>ログインしてください。</p>
      <p><%= link_to "ログイン", login_path %></p>
    <% else %>
      <h1>投稿</h1>
      <%= form_for @post do |f| %>
        <p>投稿内容：<%= f.text_field :content %></p>
        <% if params[:reply] %>

          <%= f.hidden_field :main_post_id, value: params[:reply][:main_post_id] %>
          <p><%= submit_tag "返信" %></p>
        <% else %>
          <p><%= submit_tag "投稿" %></p>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
